.blog-divider {
    border: none;/*Removedefaultstyling*/
    border-top: 5px solid #FAB005;/*Linestyleandcolor*/
    margin: 10px 0;/*Spacearoundtheline*/
    width: 70px;/*Adjustwidthforasmallerline*/
    align-self: flex-start;/*Alignsthelinetothestartofitscontainer*/
  }