.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /*Smoothtransition*/
    max-width: 300px;
    margin: 20px;
}
  
  .card:hover {
    transform: translateY(-10px);
    /*Liftcardonhover*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /*Enhancedshadowonhover*/
}
  
  .card-image {
    width: 100%;
    height: 200px;
    /* border-radius: 12px; */
    overflow: hidden;
  }
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container */
    display: block; /* Remove inline spacing */
  }
  
  .card-content {
    flex-grow: 1;
    padding: 15px;
    text-align: center;
    background: #e2e9fa; /* Subtle gradient */
    border-top: 1px solid #ddd; /* Light border for separation */
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin: 0;
    color: #333; /* Title color */
  }
  
  .card-description {
    font-size: 1em;
    margin: 8px 0 0; /* Margin for description */
    color: #555; /* Description color */
  }
  
  /* .card-link {
    font-size: 1em;
    color: #FAB005;
    text-decoration: none;
    font-weight: bold;
  }
  
  .card-link:hover {
    text-decoration: underline;
  } */
  .card-link {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding to make it button-like */
    margin-top: 10px; /* Space between button and content */
    font-size: 1rem; /* Font size for button text */
    font-weight: bold ;
    color: #101111; /* Text color */
    background: transparent; /* Transparent background */
    border: 2px solid #007bff; /* Border color matching the text */
    border-radius: 25px; /* Rounded button shape */
    text-align: center; /* Center align text */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  }
  
  .card-link:hover {
    background-color: #007bff; /* Background color on hover #007bff */
    font-weight: bold ;
    color: #ccc; /* Text color on hover */
    border-color: #007bff; /* Border color on hover */
  }
  
 