/* Contact.css */
.contact-card {
  max-width: 800px;
  margin: auto ;
  padding: 10px;
  border-radius: 8px;
  background: #616060;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
  justify-self: center;
}
.map-container {
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}
.leaflet-container {
  height: 100% !important; /* Important to override internal styles */
  width: 100% !important;
}

.contact-card h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #eeeaea;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #f1eded;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical; /* Allows vertical resizing */
}

.submit-button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  color: #000c07;
  background: #10e38f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.button-container{
 text-align: right;
}


/* Styling for Location marker popup content */

.popup-content p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #666; /* Color for the text */
} 


.popup-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  max-width: 200px;
}

.popup-info h3 {
  margin: 0;
  font-size: 16px;
  color: #007bff;
}

.popup-info p {
  margin: 5px 0;
}

/* Styling for submit button popup content */
/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  padding:20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup Content */
.popup-content {
  background: #fff;
  color: #616060;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Close Button */
.close-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.close-button:hover {
  background-color: #0056b3;
}
