/* About.css */
.about-container {
    padding: 20px;
  }
  
  .about-divider {
    border: none; /* Remove default styling */
    border-top: 2px solid #ddd; /* Line style and color */
    margin: 10px 0; /* Space around the line */
    width: 50%; /* Adjust width for a smaller line */
    align-self: flex-start; /* Aligns the line to the start of its container */
  }
  