/* App.css */
body {
  margin: 0;
  padding: 0;
  background-color: #020202; /* Match the background color of the profile section */
}

.app {
  display: flex;
  background: #020202;
  height: 100vh;
}

.profile-section {
  position: fixed;
  left: 0;
  width: 250px;
  background: #282c34;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.main-content {
  margin-left: 5px; /* Reduced space between profile and main content */
  padding: 20px;
  flex: 1;
  color: #f7f4f4;
  background: #020202;
  height: 100vh;
  overflow-y: auto;
}

.tab-content {
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  background: #282c34;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-height: auto; /*Adjust as needed */
  z-index: 1;
}

.tabs {
  display: inline-flex; /* Align tabs in a row */
  justify-content: flex-end;/* Align tabs to the right */
  gap: 10px; /* Space between tabs */
  height: 40px;
  margin-bottom: 20px; /* Space between tabs and content */
  margin-left: auto;
  margin-right: -19px;
  margin-top: -17px;
  background-color: #40454e; /*un-comment to make tabs section having background color */
  z-index: 1;
  border-radius: 10px;
}

.tabs button {
  background-color: #40454e;
  color:#ddd;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  align-self: flex-start;
  transition: background-color 0.3s, color 0.3s;
}

.tabs button.active {
  /* background-color: #bbb;#1826c0fe; */
  color: #FAB005;
  text-decoration: solid;
  font-weight: bold;
}

.tabs button:hover {
  background-color: #ccc;
  color:black;
}

.content {
  z-index: 0;
  margin-top: -80px;
  margin-left: 10px;
  flex: 1; /* Take remaining space */
  padding: 20px;
}
